<!-- PAGE | BLOG -->
<div class="pages" id="page-blog">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Blog</h4>
            <h1>Recent Blog Posts</h1>
            {% if 4000 == site.port %}
            <div class="row">
                <div class="span8 offset2">
                    <div class="input-append">
                      <input class="span5" id="appendedInputButton" type="text" placeholder="Search Blog">
                      <button class="btn btn-primary sicon-search sicon-white" type="button"><i>Search</i></button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if 4000 == site.port %}
            <!-- Sub menu -->
            <nav class="submenu">
                <ul>
                    <li>
                        <a href="{{ site.url }}/blog/">All</a>
                    </li>
                    {% for category in site.categories %}
                    <li>
                        <a href="{{ site.url }}/blog/{{ category | first }}">{{ category | first }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
        </header>
        <!-- End Header -->

        <!-- Article -->
        <article>
            <!-- Blog articles -->
            <ul class="thumbnails">
                {% for post in site.posts limit:6 %}
                <li class="span4">
                  <a href="{{ post.url }}">
                        {% if page.image %}
                        <img class="blog-title-small" src="{{ site.url }}/assets/images/blog/{{ page.image }}" />
                        {% else %}
                        <img class="blog-title-small" src="{{ site.url }}/assets/images/blog/default.jpg" alt="Blog title image - Photo of Stockholm from the river">
                        {% endif %}
                    </a>
                    <h5>{{ post.title }}<br/>{{ post.date | date_to_long_string }}</h5>
                    <p class="smallFontBy08">{{ post.excerpt }}</p>
                    <div class="read-more">
                      <a href="{{ post.url }}">Read More...</a>
                    </div>
                </li>
              {% endfor %}
            </ul>
        </article>
        <!-- End Article -->
        {% if 4000 == site.port %}
        <!-- Footer -->
        <footer>
            <!-- More blog posts -->
            <div class="show-more-cube">
                <a href="{{ site.url }}/blog/"><span>All Blog<br/>Posts</span></a>
            </div>
        </footer>
        <!-- End Footer -->
        {% endif %}
    </div>
</div>
<!-- END PAGE | BLOG -->