<!-- PAGE | BLOG -->
<div class="pages" id="page-blog">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Blog</h4>
            <h1>Recent Blog Posts</h1>
            <div class="row">
                <div class="span8 offset2">
                    <div class="input-append">
                      <input class="span5" id="appendedInputButton" type="text" placeholder="Search Blog">
                      <button class="btn btn-primary sicon-search sicon-white" type="button"><i>Search</i></button>
                    </div>
                </div>
            </div>

            <!-- Sub menu -->
            <nav class="submenu">
                <ul>
                    <li>
                        <a href="{{ site.url }}/blog/">All</a>
                    </li>
                    {% for category in site.categories %}
                    <li>
                        <a href="{{ site.url }}/blog/{{ category | first }}">{{ category | first }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <!-- End Header -->

        <!-- Article -->
        <article>
            <!-- Blog articles -->
            <ul class="thumbnails">
                {% for post in site.posts %}
                <li class="span4">
                  <a href="{{ post.url }}">
                      {% if post.image %}
                      <img src="{{ post.image }}" />
                      {% else %}
                      <img src="http://placehold.it/390x300" />
                      {% endif %}
                    </a>
                    <h5>{{ post.title }}<br/>{{ post.date }}</h5>
                    <p class="smallFontBy08">{{ post.excerpt }}</p>
                    <div class="read-more">
                      <a href="{{ post.url }}">Read More...</a>
                    </div>
                </li>
              {% endfor %}
            </ul>
        </article>
        <!-- End Article -->

        <!-- Footer -->
        <footer>
            <!-- More blog posts -->
            <div class="show-more-cube">
                <a href="{{ site.url }}/blog/"><span>All Blog<br/>Posts</span></a>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
</div>
<!-- END PAGE | BLOG -->