<!-- PAGE | CONTACT -->
<div class="pages black-bg white" id="page-contact">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Contact</h4>
            <h1>Say hello!</h1>
            <div class="row">
                <div class="span8 offset2">
                    <p>{{ site.contact-us }}</p>
                </div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Start Article -->
        <article>
            <div class="row-fluid">
                <!-- Contact form -->
                <div class="span6">
                    <div class="map find-us" id="findUs"></div>
                </div>
                <!-- End Contact form -->
                <!-- Contact information -->
                <div class="span5 offset1">
                    <h5>Meet Us</h5>
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-phone"><i>Phone</i></a>
                        </div> 
                        <div class="media-body smallFontBy08"><a href="tel:{{ site.telephone-number }}">{{ site.telephone-number }}</a></div>
                    </div>
                    <!--<div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-place"><i>Location</i></a>
                        </div> 
                        <div class="media-body smallFontBy08">{{ site.address }}</div>
                    </div>-->
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-mail"><i>email</i></a>
                        </div> 
                        <div class="media-body smallFontBy08"><a href="mailto:{{ site.email-address }}">{{ site.email-address }}</a></div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <!--<h5>Get social</h5>-->
                    {% include social-bar.html class="sicon-white bordered" %}
                </div>
                <!-- End Contact information -->
            </div>
        </article>
        <!-- End Article -->
        
    </div>
    
    <!-- Background map image -->
    <div id="map-image">
        <img src="assets/images/pages/contact/map_bck.jpg" alt="Our location">
    </div>
</div>
<!-- END PAGE | CONTACT -->
