<div class="pages" id="services">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Services</h4>
            <h2>Services</h2>
            <div class="row">
                <div class="span8 offset2">
                    <p>Supporting business growth in the UK Market for Start Ups, SME’s and larger business with a portfolio of services to facilitate market entry and expansion.</p>
                    <p>Including:</p>
                    <ul>
                      <li>Strategic planning</li>
                      <li>Market analysis</li>
                      <li>Partner and client search</li>
                      <li>Key stakeholder activities</li>
                    </ul>
                    <p>We have the local knowledge, relevant networks and a profound understanding of the differences in the UK market as well as, competition, opportunities and potential threats.</p>
                    <p>We offer professional support, advice, information and events to support business, with a tailored service – whether you need advice when making a decision on when, where and how to expand including practical implementation of market strategy.</p>
                    <p>We also arrange, participation in fairs, trade and targeted events in various segments, such as fashion, design, home. Contact us to find out how we can support your business.</p>
                </div>
            </div>
        </header>
        <!-- End Header -->
    </div>
</div>
