<div class="social-icons {{ include.class }}">
    <a href="https://facebook.com/{{ site.facebook }}" class="sicon-facebook"><i>Facebook</i></a>
    <a href="https://twitter.com/{{ site.twitter }}" class="sicon-twitter"><i>Twitter</i></a>
    <a href="{{ site.url }}/index.html#page-contact" class="sicon-contact"><i>Find us</i></a>
    <!--
    <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
    <a href="#" class="sicon-youtube"><i>Youtube</i></a>
    <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
    -->
</div>