<div class="pages white paralax" id="page-twitter">
    <!-- Page overlay -->
    <div class="overlay"></div>
    
    <!-- Block content -->
    <div class="container">
         <div class="row-fluid">
            <div class="span8 offset2">
                <hr/>
                <!-- Load Twitter boostrap container -->
                <!--<div class=" center slide" id="twitterfeed-slider"></div>-->
                
                <h5 class="center">
                    <a href="mailto:{{ site.email-address }}">{{ site.email-address }}</a><br/>
                    <a href="tel:{{ site.telephone-number }}">{{ site.telephone-number }}</a>
                </h5>
            </div>
        </div>
    </div>
    
</div>
