{% include page-open.html %}
{% assign showNavigaton = true %}
{% include navigation.html %}

    <!-- PAGE | BLOG -->
    <div class="pages" id="page-blog-list">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Blog</h4>
                <h1>Blog Posts</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <div class="input-append">
                          <input class="span5" id="appendedInputButton" type="text" placeholder="Search Blog">
                          <button class="btn btn-primary sicon-search sicon-white" type="button"><i>Search</i></button>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <div class="row-fluid">
                <div class="span8 blog-details">
                    <!-- Article -->
                    <article>
                        <!-- Blog image -->
                        {% if page.image %}
                        <img src="{{ page.image }}" />
                        {% else %}
                        <img src="http://placehold.it/900x450" alt="Treble">
                        {% endif %}

                        <!-- Blog title -->
                        <h5>
                            {{ page.title }}<br/>
                            <small>
                                {% if page.author %}
                                Posted By <a href="{{ site.url }}/#page-about">{{ page.author }}</a>,
                                {% endif %}
                                {{ page.date | date_to_long_string }}
                                {% if page.category %}
                                , in <a href="#">{{ page.category }}</a>
                                {% endif %}
                                </small>
                        </h5>
                        {{ content }}

                    </article>
                    <!-- End Article -->

                    <!-- Blog comments -->
                    <div class="comments">
                        <a href="#">4 comments</a>
                    </div>
                    <div class="comments-details">
                        <div class="media">
                            <div class="pull-left">
                                <img src="http://placehold.it/60x60" alt="Treble">
                            </div>
                            <div class="media-body">
                                <div class="comments-post-info">
                                    <small><a href="#">Team member</a>, April 10, 2013, <a href="#write-replay">Replay</a></small>
                                </div>
                                <p>
                                    Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img src="http://placehold.it/60x60" alt="Treble">
                            </div>
                            <div class="media-body">
                                <div class="comments-post-info">
                                    <small><a href="#">Team member</a>, April 10, 2013, <a href="#write-replay">Replay</a></small>
                                </div>
                                <p>
                                    Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                </p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <img src="http://placehold.it/60x60" alt="Treble">
                            </div>
                            <div class="media-body">
                                <div class="comments-post-info">
                                    <small><a href="{{ site.url }}/#page-about">Team member</a>, April 10, 2013, <a href="#write-replay">Replay</a></small>
                                </div>
                                <p>
                                    Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                </p>

                                <div class="media">
                                    <div class="pull-left">
                                        <img src="http://placehold.it/60x60" alt="Treble">
                                    </div>
                                    <div class="media-body">
                                        <div class="comments-post-info">
                                            <small><a href="#">Team member</a>, April 10, 2013, <a href="#write-replay">Replay</a></small>
                                        </div>
                                        Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog comments -->

                    <!-- Blog Write comment -->
                    <div class="write-comment" id="write-replay">
                        <h6>Drop a comment</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        </p>
                        <div class="row-fluid">
                            <div class="span8">
                                <form>
                                    <input type="text" class="span12" placeholder="Title">
                                    <input type="text" class="span12" placeholder="Email">
                                    <textarea rows="5" class="span12"></textarea>
                                    <button type="submit" class="btn btn-primary">Post a comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Write comment -->
                </div>
                {% include blog-sidebar %}
            </div>
        </div>
    </div>
    <!-- END PAGE | BLOG -->

{% include contact.html %}
{% include page-close.html %}